.navbar {
  width: 100%;
  padding: 0px 20px;
  background-color: #fbfbf9;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar .user {
  display: flex;
  gap: 10px;
}

.navbar .user .username {
  margin-top: 3px;
  font-size: 15px;
}
.navbar .user .email {
  font-size: 13px;
  color: #8a8a8a;
}
